openapi: 3.0.0
info:
  description: Descript API documentation.
  version: '1.2'
  title: Descript API Endpoints API
  x-logo:
    url: assets/descript-logo.svg
    altText: Descript
  license:
    name: Proprietary
    url: https://www.descript.com/terms
servers:
- url: https://descriptapi.com/v1
tags:
- name: API Endpoints
  description: Import media, edit projects with AI, and query jobs and projects.
paths:
  /jobs/import/project_media:
    post:
      tags:
      - API Endpoints
      summary: Import media and sequences
      security:
      - bearerAuth: []
      description: 'Import media files into a new or existing project and create compositions.


        This endpoint can:

        - Create a new project if `project_id` is not provided

        - Import media files from URLs

        - Create multitrack sequences

        - Create compositions (timelines) from existing or new media in the project

        - Trigger transcription and other background processing tasks


        ### Media URL requirements

        - URLs must be accessible by Descript servers

        - URLs must support HTTP Range requests

        - Recommended to sign URLs for 12-48 hours to reduce chance of failure

        - [Supported file types](https://help.descript.com/hc/en-us/articles/10164098416909-Supported-file-types)


        ### Direct file upload


        Instead of providing a URL, you can upload files directly by specifying `content_type` and `file_size` for a media item. The response will include a signed `upload_url` for each direct upload item. PUT the file bytes to that URL, and the import job will process it automatically. See the [Direct file upload](#tag/Direct-file-upload) guide for a full walkthrough.


        ### Async Operations


        Imports run in the background and return a `job_id`. Monitor progress via the [GET /jobs/{job_id}](#operation/getJob) endpoint.


        ### Dynamic webhook


        If `callback_url` is provided, Descript will POST the job status to that URL when the job finishes (successfully or not).


        The payload will match the format returned by [GET /jobs/{job_id}](#operation/getJob).

        '
      operationId: importProjectMedia
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: 'Request to import media into a project and optionally create compositions.

                This operation will:

                - Create a new project if project_id is not provided (using the drive associated with the personal token)

                - Import media files from URLs or create multitrack sequences

                - Optionally create one or more compositions

                - Trigger transcription and other background processing

                '
              properties:
                project_id:
                  type: string
                  format: uuid
                  description: 'Existing project ID to import media into. If not provided, a new project will be created.

                    When importing into an existing project, media filenames must not conflict with existing files.

                    '
                  example: 9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
                project_name:
                  type: string
                  description: Name for the new project. Only used when project_id is not provided.
                  example: Marketing Video
                team_access:
                  type: string
                  description: 'Access level for drive members. Only applicable when creating a new project

                    (when project_id is not provided). Defaults to `none` if not specified.

                    - edit: Users can edit the project

                    - comment: Users can view and comment but not edit

                    - view: Users can view but not comment or edit

                    - none: No shared access (private to owner)

                    '
                  enum:
                  - edit
                  - comment
                  - view
                  - none
                  default: none
                  example: edit
                folder_name:
                  type: string
                  description: 'Folder path to place the new project in (e.g. "Clients/Acme/Videos").

                    Supports nested paths using "/" as separator. Only applicable when creating a new project

                    (when project_id is not provided). Existing folders along the path are reused; missing

                    segments are created automatically.

                    '
                  example: Clients/Acme
                add_media:
                  type: object
                  description: 'Map of media reference IDs (display names with optional folder paths) to media import items.

                    Keys are the display names that will appear in the project (e.g., "Misc/intro.mp4" or "demo.mp4").

                    Values define how to import each media item (URL import or multitrack sequence).

                    '
                  additionalProperties:
                    type: object
                    description: 'Defines how to import a single media item. Can be either a URL import or a multitrack sequence.

                      '
                    oneOf:
                    - type: object
                      title: URL Import
                      description: Import media from a URL
                      required:
                      - url
                      properties:
                        url:
                          type: string
                          format: uri
                          description: 'URL to import media from. Must be accessible by Descript servers and support Range requests.

                            Recommended to sign URLs for 12-48 hours to reduce chance of failure.

                            '
                          example: https://example.com/intro.mp4
                        language:
                          type: string
                          description: 'ISO 639-1 language code for transcription (e.g., "en", "es", "fr").

                            If not specified, language is auto-detected from the audio.

                            '
                          example: en
                      additionalProperties: false
                    - type: object
                      title: Direct Upload
                      description: 'Upload a file directly to Descript. The API returns a signed upload URL

                        in the response. PUT your file to that URL, then the import job will

                        process it automatically.

                        '
                      required:
                      - content_type
                      - file_size
                      properties:
                        content_type:
                          type: string
                          description: MIME type of the file (e.g., "video/mp4", "audio/wav")
                          example: video/mp4
                        file_size:
                          type: integer
                          description: File size in bytes
                          example: 52428800
                        language:
                          type: string
                          description: 'ISO 639-1 language code for transcription (e.g., "en", "es", "fr").

                            If not specified, language is auto-detected from the audio.

                            '
                          example: en
                      additionalProperties: false
                    - type: object
                      title: Multitrack Sequence
                      description: Create a multitrack sequence from multiple media files
                      required:
                      - tracks
                      properties:
                        tracks:
                          type: array
                          description: Array of tracks to combine into a multitrack sequence
                          minItems: 1
                          items:
                            type: object
                            required:
                            - media
                            properties:
                              media:
                                type: string
                                description: Media reference ID (display name) of the media to include in this track
                                example: Recordings/camera1.mp4
                              offset:
                                type: number
                                format: float
                                description: Optional time offset in seconds for syncing this track
                                example: 50
                                default: 0
                            additionalProperties: false
                      additionalProperties: false
                  example:
                    Misc/intro.mp4:
                      url: https://example.com/intro.mp4
                    demo.mp4:
                      url: https://example.com/demo.mp4
                    Multicam_Track:
                      tracks:
                      - media: Recordings/camera1.mp4
                        offset: 0
                      - media: Recordings/camera2.mp4
                        offset: 50
                add_compositions:
                  type: array
                  description: Optional list of compositions to create in the project
                  items:
                    type: object
                    description: Defines a composition to create in the project
                    properties:
                      name:
                        type: string
                        description: Name of the composition. If not provided, uses default naming.
                        example: Rough Cut
                      width:
                        type: integer
                        description: Width of the composition in pixels
                        example: 1920
                        default: 1920
                      height:
                        type: integer
                        description: Height of the composition in pixels
                        example: 1080
                        default: 1080
                      fps:
                        type: number
                        description: '**[Work in progress]** This property is not yet supported and will be ignored if provided.


                          Frame rate for the composition in frames per second.

                          Common values: 24, 25, 29.97, 30, 60.

                          '
                        default: 30
                        example: 30
                      clips:
                        type: array
                        description: Ordered list of clips to include in the composition
                        items:
                          type: object
                          required:
                          - media
                          properties:
                            media:
                              type: string
                              description: Media reference ID (display name) of the media to add as a clip
                              example: Misc/intro.mp4
                          additionalProperties: false
                    required:
                    - clips
                    additionalProperties: false
                callback_url:
                  type: string
                  format: uri
                  description: 'Optional webhook URL to call when the job completes or fails.

                    Descript will POST the job status (same format as [GET /jobs/{job_id}](#operation/getJob)) to this URL.

                    '
                  example: https://example.com/webhooks/descript/job_callback
              additionalProperties: false
            examples:
              create_with_composition:
                summary: Create project with initial composition
                description: Most common use case for seeding a project with a simple composition
                value:
                  project_name: Marketing Video
                  add_media:
                    Misc/intro.mp4:
                      url: https://example.com/intro.mp4
                    demo.mp4:
                      url: https://example.com/demo.mp4
                    Misc/outro.mp4:
                      url: https://example.com/outro.mp4
                  add_compositions:
                  - name: Rough Cut
                    clips:
                    - media: Misc/intro.mp4
                    - media: demo.mp4
                    - media: Misc/outro.mp4
              import_only:
                summary: Import media without composition
                description: Import files for later composition creation
                value:
                  project_name: Video Project
                  add_media:
                    Assets/intro.mp4:
                      url: https://example.com/intro.mp4
                    Assets/logo.png:
                      url: https://example.com/logo.png
              direct_upload:
                summary: Direct file upload
                description: Upload a local file directly instead of providing a URL
                value:
                  project_name: Upload Project
                  add_media:
                    recording.mp4:
                      content_type: video/mp4
                      file_size: 52428800
                  add_compositions:
                  - name: Main
                    clips:
                    - media: recording.mp4
              multitrack_sequence:
                summary: Create multitrack sequence
                description: Combine multiple tracks with time offsets
                value:
                  project_name: Interview Edit
                  add_media:
                    Misc/intro.mp4:
                      url: https://example.com/intro.mp4
                    Recordings/camera1.mp4:
                      url: https://example.com/camera1.mp4
                    Recordings/camera2.mp4:
                      url: https://example.com/camera2.mp4
                    Multicam_Track:
                      tracks:
                      - media: Recordings/camera1.mp4
                        offset: 0
                      - media: Recordings/camera2.mp4
                        offset: 50
                  add_compositions:
                  - name: Rough Cut
                    width: 1920
                    height: 1080
                    clips:
                    - media: Misc/intro.mp4
                    - media: Multicam_Track
        description: Media import and project creation request
        required: true
      responses:
        '201':
          description: Import job created successfully
          content:
            application/json:
              schema:
                type: object
                description: Response returned when creating an import job
                properties:
                  job_id:
                    type: string
                    format: uuid
                    description: Unique identifier for the job
                    example: 6dc3f30a-58c2-4174-96a6-dc18cf3c7776
                  drive_id:
                    type: string
                    format: uuid
                    description: Drive ID where the project is located
                    example: c9c5c47e-158a-49f7-846b-4f6ee2a229a2
                  project_id:
                    type: string
                    format: uuid
                    description: Project ID (newly created or existing)
                    example: 9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
                  project_url:
                    type: string
                    format: uri
                    description: URL to access the project in Descript web app
                    example: https://web.descript.com/9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
                  upload_urls:
                    type: object
                    description: 'Signed upload URLs for each direct upload media item. Only present when the request

                      includes direct upload references. PUT the file contents to the `upload_url` with

                      `Content-Type: application/octet-stream`. The import job will automatically detect

                      the upload and process the file.

                      '
                    additionalProperties:
                      type: object
                      properties:
                        upload_url:
                          type: string
                          format: uri
                          description: Signed URL to PUT the file to. Expires after 3 hours.
                        asset_id:
                          type: string
                          format: uuid
                          description: GAT asset ID for the uploaded file
                        artifact_id:
                          type: string
                          format: uuid
                          description: GAT artifact ID for the uploaded file
                      required:
                      - upload_url
                      - asset_id
                      - artifact_id
                required:
                - job_id
                - drive_id
                - project_id
                - project_url
        '400':
          description: 'Invalid input:

            - Malformed request body

            - Invalid media URLs

            - URLs not accessible or don''t support Range requests

            - Media filename conflicts with existing files (when importing to existing project)

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
              examples:
                invalid_url:
                  summary: Invalid media URL
                  value:
                    error: invalid_input
                    message: Invalid media URL format
                url_not_accessible:
                  summary: URL not accessible
                  value:
                    error: invalid_input
                    message: Media URL is not accessible or does not support Range requests
                filename_conflict:
                  summary: Filename conflict
                  value:
                    error: invalid_input
                    message: Media filename conflicts with existing files in the project
        '401':
          description: Unauthorized - missing or invalid authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
              examples:
                unauthorized:
                  summary: Missing authentication token
                  value:
                    error: unauthorized
                    message: Missing or invalid authentication token
        '402':
          description: Payment Required - insufficient media minutes to start the job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error402'
              examples:
                insufficient_minutes:
                  summary: Insufficient media minutes
                  value:
                    error: payment_required
                    message: Insufficient media minutes to start the job (300 minutes required, 50 available)
        '403':
          description: Forbidden - user does not have access to this resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403'
              examples:
                forbidden:
                  summary: No access to drive or project
                  value:
                    error: forbidden
                    message: User does not have access to this drive or project
        '404':
          description: 'Not found:

            - Drive doesn''t exist

            - Project doesn''t exist (when project_id is provided)

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
              examples:
                project_not_found:
                  summary: Project not found
                  value:
                    error: not_found
                    message: Project not found
                drive_not_found:
                  summary: Drive not found
                  value:
                    error: not_found
                    message: Drive not found
        '429':
          $ref: '#/components/responses/Error429Response'
  /jobs/agent:
    post:
      tags:
      - API Endpoints
      summary: Agent edit
      security:
      - bearerAuth: []
      description: 'Use a background agent to create and edit projects using a natural language prompt.


        - **Edit existing project**: Provide a `project_id` to edit an existing project

        - **Target a specific composition**: Provide both `project_id` and `composition_id` to direct the agent to a specific composition within the project

        - **Create new project**: Provide a `project_name` instead of `project_id` to create a new project


        ### Common use cases

        - Create new content: "create a 30-second video about cooking tips"

        - Apply audio effects: "add studio sound to every clip"

        - Remove filler words: "remove all filler words from the transcript"

        - Create highlights: "create a 30-second highlight reel"

        - Content editing: "remove the section from 1:30 to 2:15"


        ### Async Operations


        Agent edits run in the background and return a `job_id`. Monitor progress via the [GET /jobs/{job_id}](#operation/getJob) endpoint.


        ### Dynamic webhook


        If `callback_url` is provided, Descript will POST the job status to that URL when the job completes or fails.

        The payload will match the format returned by [GET /jobs/{job_id}](#operation/getJob).

        '
      operationId: agentEditJob
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: 'Request to run Agent edit.

                The agent will interpret the prompt and either edit an existing project or create a new one.

                You must provide exactly one of `project_id` or `project_name`.

                '
              properties:
                project_id:
                  type: string
                  format: uuid
                  description: 'The ID of an existing project to edit. Mutually exclusive with `project_name`.

                    '
                  example: 9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
                project_name:
                  type: string
                  description: 'Name for creating a new project. Mutually exclusive with `project_id`.

                    '
                  example: My New Project
                composition_id:
                  type: string
                  description: 'Composition to target within the project. When provided,

                    the agent will focus its edits on this specific composition rather

                    than choosing one automatically. Only valid when `project_id` is also

                    provided. Requires `project_id`.


                    Accepts any of the following formats:

                    - A full composition UUID (e.g. `39677a40-1c43-4c36-8449-46cfbc4de2b5`)

                    - A 5-character short ID from a Descript URL (e.g. `39677`)

                    - A full Descript project URL (e.g. `https://web.descript.com/{project_id}/39677`)

                    '
                  example: 39677a40-1c43-4c36-8449-46cfbc4de2b5
                model:
                  type: string
                  description: 'AI model to use for editing. Defaults to the default model.

                    '
                prompt:
                  type: string
                  description: 'Natural language instruction for the agent to execute.

                    Examples: "add studio sound to every clip", "remove all filler words", "create a 30-second highlight reel"

                    '
                  example: add studio sound to every clip
                team_access:
                  type: string
                  enum:
                  - edit
                  - comment
                  - view
                  - none
                  description: 'Access level for team members when creating a new project.

                    Only applicable when `project_name` is provided (not when using `project_id`).

                    Defaults to `none` if not specified.

                    '
                callback_url:
                  type: string
                  format: uri
                  description: 'Optional webhook URL to call when the job completes or fails.

                    Descript will POST the job status (same format as [GET /jobs/{job_id}](#operation/getJob)) to this URL.

                    '
                  example: https://example.com/webhooks/descript/job_callback
              required:
              - prompt
              additionalProperties: false
            examples:
              create_new_project:
                summary: Create a new project
                value:
                  project_name: Cooking Tips Video
                  prompt: create a 30-second video about cooking tips with background music
              add_studio_sound:
                summary: Add Studio Sound effect
                value:
                  project_id: 9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
                  model: haiku-4.5
                  prompt: add studio sound to every clip
              remove_filler_words:
                summary: Remove filler words
                value:
                  project_id: 9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
                  prompt: remove all filler words
              create_highlight:
                summary: Create highlight reel
                value:
                  project_id: 9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
                  composition_id: 39677a40-1c43-4c36-8449-46cfbc4de2b5
                  prompt: create a 30-second highlight reel with the best moments
              with_callback:
                summary: Agent job with webhook callback
                value:
                  project_id: 9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
                  prompt: add studio sound to every clip
                  callback_url: https://example.com/webhooks/descript/job_callback
        description: AI agent request
        required: true
      responses:
        '201':
          description: Agent edit job created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    format: uuid
                    description: Unique identifier for the Agent edit job
                    example: 6dc3f30a-58c2-4174-96a6-dc18cf3c7776
                  drive_id:
                    type: string
                    format: uuid
                    description: Drive ID where the project is located
                    example: c9c5c47e-158a-49f7-846b-4f6ee2a229a2
                  project_id:
                    type: string
                    format: uuid
                    description: The project ID (existing or newly created)
                    example: 9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
                  project_url:
                    type: string
                    format: uri
                    description: URL to access the project in Descript web app
                    example: https://web.descript.com/9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
                required:
                - job_id
                - drive_id
                - project_id
                - project_url
        '400':
          description: 'Invalid input:

            - Malformed request body

            - Invalid project_id or composition_id

            - Empty or invalid prompt

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
              examples:
                empty_prompt:
                  summary: Empty prompt
                  value:
                    error: invalid_input
                    message: Prompt cannot be empty
                invalid_project:
                  summary: Invalid project ID
                  value:
                    error: invalid_input
                    message: Invalid project_id format
        '401':
          description: Unauthorized - missing or invalid authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
              examples:
                unauthorized:
                  summary: Missing authentication token
                  value:
                    error: unauthorized
                    message: Missing or invalid authentication token
        '402':
          description: Payment Required - insufficient AI credits to start the job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error402'
              examples:
                insufficient_credits:
                  summary: Insufficient AI credits
                  value:
                    error: payment_required
                    message: Insufficient AI credits to start the job (100 credits required, 25 available)
        '404':
          description: 'Not found:

            - Project doesn''t exist

            - Composition doesn''t exist (when composition_id is provided)

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
              examples:
                project_not_found:
                  summary: Project not found
                  value:
                    error: not_found
                    message: Project not found
                composition_not_found:
                  summary: Composition not found
                  value:
                    error: not_found
                    message: Composition not found
        '429':
          $ref: '#/components/responses/Error429Response'
  /jobs/publish:
    post:
      tags:
      - API Endpoints
      summary: Publish project media
      security:
      - bearerAuth: []
      description: "Publish a project composition to create a shareable link and download the exported file.\n\nPublishes a specific composition from a project, rendering the output as video or audio\nat the specified resolution. When the job completes successfully the result contains both:\n\n- `share_url`: a public URL that can be used to view the published content on Descript's share site.\n- `download_url`: a time-limited signed URL to download the exported media file directly,\n  along with `download_url_expires_at` indicating when the link expires.\n\n### Republishing\n\nPublishing the same composition a second time automatically reuses the previous share URL,\noverwriting its content — so bookmarks and links handed out for the first publish keep working.\nRepublish matching is keyed on `(project_id, composition_id, media_type)`, so a Video publish\nand an Audio publish of the same composition produce two separate share URLs.\n\n### Async Operations\n\nPublish jobs run in the background and return a `job_id`. Monitor progress via the [GET /jobs/{job_id}](#operation/getJob) endpoint,\nwhich returns the `share_url`, `download_url`, and `download_url_expires_at` fields once the job finishes.\n\n### Dynamic webhook\n\nIf `callback_url` is provided, Descript will POST the job status to that URL when the job completes or fails.\nThe payload will match the format returned by [GET /jobs/{job_id}](#operation/getJob).\n"
      operationId: publishJob
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: 'Request to publish a project composition.

                '
              properties:
                project_id:
                  type: string
                  format: uuid
                  description: The ID of the project to publish.
                  example: 9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
                composition_id:
                  type: string
                  format: uuid
                  description: The ID of the composition within the project to publish.
                  example: 39677a40-1c43-4c36-8449-46cfbc4de2b5
                media_type:
                  type: string
                  enum:
                  - Video
                  - Audio
                  default: Video
                  description: Media type of the published output.
                resolution:
                  type: string
                  enum:
                  - 480p
                  - 720p
                  - 1080p
                  - 1440p
                  - 4K
                  description: Resolution for the published output. Only applicable when media_type is Video.
                callback_url:
                  type: string
                  format: uri
                  description: 'Optional webhook URL to call when the job completes or fails.

                    Descript will POST the job status (same format as [GET /jobs/{job_id}](#operation/getJob)) to this URL.

                    '
                  example: https://example.com/webhooks/descript/job_callback
                access_level:
                  type: string
                  enum:
                  - public
                  - unlisted
                  - drive
                  - private
                  description: 'Desired access level for the published share page.

                    If omitted, the drive''s configured default is used.

                    Returns 403 if the requested level is not permitted by the drive''s publish settings

                    (e.g. requesting `public` when search engine indexing is disabled).

                    '
              required:
              - project_id
              additionalProperties: false
            examples:
              publish_video:
                summary: Publish as 1080p video
                value:
                  project_id: 9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
                  composition_id: 39677a40-1c43-4c36-8449-46cfbc4de2b5
                  media_type: Video
                  resolution: 1080p
              publish_audio:
                summary: Publish as audio only
                value:
                  project_id: 9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
                  composition_id: 39677a40-1c43-4c36-8449-46cfbc4de2b5
                  media_type: Audio
              with_callback:
                summary: Publish with webhook callback
                value:
                  project_id: 9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
                  composition_id: 39677a40-1c43-4c36-8449-46cfbc4de2b5
                  media_type: Video
                  resolution: 720p
                  callback_url: https://example.com/webhooks/descript/job_callback
        description: Publish request
        required: true
      responses:
        '201':
          description: Publish job created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    format: uuid
                    description: Unique identifier for the publish job
                    example: 6dc3f30a-58c2-4174-96a6-dc18cf3c7776
                  drive_id:
                    type: string
                    format: uuid
                    description: Drive ID where the project is located
                    example: c9c5c47e-158a-49f7-846b-4f6ee2a229a2
                  project_id:
                    type: string
                    format: uuid
                    description: The project ID being published
                    example: 9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
                  project_url:
                    type: string
                    format: uri
                    description: URL to access the project in Descript web app
                    example: https://web.descript.com/9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
                required:
                - job_id
                - drive_id
                - project_id
                - project_url
        '400':
          description: 'Invalid input:

            - Malformed request body

            - Invalid project_id or composition_id format

            - Invalid media_type or resolution value

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
              examples:
                invalid_project:
                  summary: Invalid project ID
                  value:
                    error: invalid_input
                    message: Invalid project_id format
                invalid_resolution:
                  summary: Invalid resolution
                  value:
                    error: invalid_input
                    message: '"resolution" must be one of [480p, 720p, 1080p, 1440p, 4K]'
        '401':
          description: Unauthorized - missing or invalid authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
              examples:
                unauthorized:
                  summary: Missing authentication token
                  value:
                    error: unauthorized
                    message: Missing or invalid authentication token
        '403':
          description: 'Forbidden:

            - User doesn''t have write access to the project

            - Project doesn''t belong to the token''s drive

            - Requested `access_level` is not permitted by the drive''s publish settings

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403'
              examples:
                forbidden:
                  summary: No access to project
                  value:
                    error: forbidden
                    message: Forbidden
        '422':
          description: 'Unprocessable Entity

            '
        '429':
          $ref: '#/components/responses/Error429Response'
  /jobs:
    get:
      tags:
      - API Endpoints
      summary: List jobs
      description: 'List recent jobs with optional filtering by project or job type.


        By default, jobs created within the last 7 days are returned. Use `created_after` and

        `created_before` to customize the time range. The maximum lookback is 30 days.


        Results are paginated. Use the `cursor` from the response `pagination.next_cursor` to

        fetch subsequent pages.


        Query parameters allow you to filter the results:

        * Filter by `project_id` to see all jobs for a project

        * Filter by `type` to see specific job types (import/project_media, agent)

        '
      operationId: listJobs
      security:
      - bearerAuth: []
      parameters:
      - in: query
        name: project_id
        description: Filter by project ID
        required: false
        schema:
          type: string
          format: uuid
      - in: query
        name: type
        description: Filter by job type
        required: false
        schema:
          type: string
          enum:
          - import/project_media
          - agent
      - in: query
        name: cursor
        description: Cursor for the next page of results, obtained from `pagination.next_cursor` in a previous response
        required: false
        schema:
          type: string
      - in: query
        name: limit
        description: Number of items per page (1-100). Defaults to 20.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      - in: query
        name: created_after
        description: 'Filter jobs created after this timestamp (ISO 8601). Default: 7 days ago. Oldest allowed: 30 days ago.'
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: created_before
        description: 'Filter jobs created before this timestamp (ISO 8601). Default: now.'
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Jobs list retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - pagination
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/JobStatus'
                  pagination:
                    type: object
                    properties:
                      next_cursor:
                        type: string
                        description: Cursor for the next page of results. Absent if no more results.
              examples:
                mixed_jobs:
                  summary: List of jobs with different types and states
                  value:
                    data:
                    - job_id: 6dc3f30a-58c2-4174-96a6-dc18cf3c7776
                      job_type: import/project_media
                      job_state: stopped
                      created_at: '2025-11-18T10:30:00Z'
                      stopped_at: '2025-11-18T10:35:00Z'
                      drive_id: c9c5c47e-158a-49f7-846b-4f6ee2a229a2
                      project_id: 9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
                      project_url: https://web.descript.com/9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
                      result:
                        status: success
                        media_status:
                          Misc/intro.mp4:
                            status: success
                            duration_seconds: 10.5
                        media_seconds_used: 11
                    - job_id: a1b2c3d4-5678-90ab-cdef-1234567890ab
                      job_type: agent
                      job_state: running
                      created_at: '2025-11-18T11:00:00Z'
                      drive_id: c9c5c47e-158a-49f7-846b-4f6ee2a229a2
                      project_id: 9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
                      project_url: https://web.descript.com/9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
                      progress:
                        label: Applying Studio Sound to clip 2...
                        last_update_at: '2025-11-18T11:01:00Z'
                    pagination:
                      next_cursor: YTFiMmMzZDQtNTY3OC05MGFiLWNkZWYtMTIzNDU2Nzg5MGFi
        '401':
          description: Unauthorized - invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
              examples:
                unauthorized:
                  summary: Missing authentication token
                  value:
                    error: unauthorized
                    message: Missing or invalid authentication token
        '429':
          $ref: '#/components/responses/Error429Response'
  /jobs/{job_id}:
    get:
      tags:
      - API Endpoints
      summary: Get job status
      security:
      - bearerAuth: []
      description: 'Retrieve the status of any job.


        The response format varies based on job type and includes type-specific fields.

        '
      operationId: getJob
      parameters:
      - in: path
        name: job_id
        description: The job ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Job status retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
              examples:
                import_success:
                  summary: Import job completed successfully
                  value:
                    job_id: 6dc3f30a-58c2-4174-96a6-dc18cf3c7776
                    job_type: import/project_media
                    job_state: stopped
                    created_at: '2025-11-18T10:30:00Z'
                    stopped_at: '2025-11-18T10:35:00Z'
                    drive_id: c9c5c47e-158a-49f7-846b-4f6ee2a229a2
                    project_id: 9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
                    project_url: https://web.descript.com/9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
                    result:
                      status: success
                      media_status:
                        Misc/intro.mp4:
                          status: success
                          duration_seconds: 10.5
                        demo.mp4:
                          status: success
                          duration_seconds: 125
                      media_seconds_used: 136
                      created_compositions:
                      - id: 0171c
                        name: Rough Cut
                import_partial:
                  summary: Import job partially completed
                  value:
                    job_id: 6dc3f30a-58c2-4174-96a6-dc18cf3c7776
                    job_type: import/project_media
                    job_state: stopped
                    created_at: '2025-11-18T10:30:00Z'
                    stopped_at: '2025-11-18T10:35:00Z'
                    drive_id: c9c5c47e-158a-49f7-846b-4f6ee2a229a2
                    project_id: 9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
                    project_url: https://web.descript.com/9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
                    result:
                      status: partial
                      media_status:
                        Misc/intro.mp4:
                          status: success
                          duration_seconds: 10.5
                        demo.mp4:
                          status: success
                          duration_seconds: 125
                        outro.mp4:
                          status: failed
                          error_message: URL is not accessible or does not support Range requests
                      media_seconds_used: 136
                      created_compositions:
                      - id: 0171c
                        name: Rough Cut
                agent_success:
                  summary: Agent job completed successfully
                  value:
                    job_id: 6dc3f30a-58c2-4174-96a6-dc18cf3c7776
                    job_type: agent
                    job_state: stopped
                    created_at: '2025-11-18T10:30:00Z'
                    stopped_at: '2025-11-18T10:32:00Z'
                    drive_id: c9c5c47e-158a-49f7-846b-4f6ee2a229a2
                    project_id: 9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
                    project_url: https://web.descript.com/9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
                    result:
                      status: success
                      agent_response: I added Studio Sound to all 3 clips in your composition
                      project_changed: true
                      media_seconds_used: 0
                      ai_credits_used: 150
                job_running:
                  summary: Job still running
                  value:
                    job_id: 6dc3f30a-58c2-4174-96a6-dc18cf3c7776
                    job_type: import/project_media
                    job_state: running
                    created_at: '2025-11-18T10:30:00Z'
                    drive_id: c9c5c47e-158a-49f7-846b-4f6ee2a229a2
                    project_id: 9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
                    project_url: https://web.descript.com/9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
                agent_running:
                  summary: Agent job running with progress
                  value:
                    job_id: 6dc3f30a-58c2-4174-96a6-dc18cf3c7776
                    job_type: agent
                    job_state: running
                    created_at: '2025-11-18T10:30:00Z'
                    drive_id: c9c5c47e-158a-49f7-846b-4f6ee2a229a2
                    project_id: 9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
                    project_url: https://web.descript.com/9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
                    progress:
                      label: Applying Studio Sound to clip 2
                      last_update_at: '2025-11-18T10:32:00Z'
                publish_success:
                  summary: Publish job completed successfully
                  value:
                    job_id: 6dc3f30a-58c2-4174-96a6-dc18cf3c7776
                    job_type: publish
                    job_state: stopped
                    created_at: '2025-11-18T10:30:00Z'
                    stopped_at: '2025-11-18T10:35:00Z'
                    drive_id: c9c5c47e-158a-49f7-846b-4f6ee2a229a2
                    project_id: 9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
                    project_url: https://web.descript.com/9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
                    result:
                      status: success
                      composition_id: 39677a40-1c43-4c36-8449-46cfbc4de2b5
                      share_url: https://share.descript.com/view/abc123
                      download_url: https://storage.googleapis.com/bucket/object?X-Goog-Signature=...
                      download_url_expires_at: '2025-11-18T11:35:00Z'
                publish_running:
                  summary: Publish job running with share URL in progress
                  value:
                    job_id: 6dc3f30a-58c2-4174-96a6-dc18cf3c7776
                    job_type: publish
                    job_state: running
                    created_at: '2025-11-18T10:30:00Z'
                    drive_id: c9c5c47e-158a-49f7-846b-4f6ee2a229a2
                    project_id: 9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
                    project_url: https://web.descript.com/9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
                    progress:
                      label: Rendering video export
                      last_update_at: '2025-11-18T10:32:00Z'
                      composition_id: 39677a40-1c43-4c36-8449-46cfbc4de2b5
                      share_url: https://share.descript.com/view/abc123
                publish_failed:
                  summary: Publish job failed
                  value:
                    job_id: 6dc3f30a-58c2-4174-96a6-dc18cf3c7776
                    job_type: publish
                    job_state: stopped
                    created_at: '2025-11-18T10:30:00Z'
                    stopped_at: '2025-11-18T10:31:00Z'
                    drive_id: c9c5c47e-158a-49f7-846b-4f6ee2a229a2
                    project_id: 9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
                    project_url: https://web.descript.com/9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
                    result:
                      status: error
                      error_message: Export failed during render
                job_failed:
                  summary: Job failed
                  value:
                    job_id: 6dc3f30a-58c2-4174-96a6-dc18cf3c7776
                    job_type: import/project_media
                    job_state: stopped
                    created_at: '2025-11-18T10:30:00Z'
                    stopped_at: '2025-11-18T10:31:00Z'
                    drive_id: c9c5c47e-158a-49f7-846b-4f6ee2a229a2
                    project_id: 9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
                    project_url: https://web.descript.com/9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
                    result:
                      status: error
                      error_message: Failed to download media file from URL
                job_cancelled:
                  summary: Job cancelled
                  value:
                    job_id: 6dc3f30a-58c2-4174-96a6-dc18cf3c7776
                    job_type: agent
                    job_state: cancelled
                    created_at: '2025-11-18T10:30:00Z'
                    stopped_at: '2025-11-18T10:31:00Z'
                    drive_id: c9c5c47e-158a-49f7-846b-4f6ee2a229a2
                    project_id: 9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
                    project_url: https://web.descript.com/9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
        '401':
          description: Unauthorized - invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
              examples:
                unauthorized:
                  summary: Missing authentication token
                  value:
                    error: unauthorized
                    message: Missing or invalid authentication token
        '403':
          description: Forbidden - user does not have access to this job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403'
              examples:
                forbidden:
                  summary: No access to job
                  value:
                    error: forbidden
                    message: User does not have access to this job
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
              examples:
                not_found:
                  summary: Job does not exist
                  value:
                    error: not_found
                    message: Job not found
        '429':
          $ref: '#/components/responses/Error429Response'
    delete:
      tags:
      - API Endpoints
      summary: Cancel job
      description: 'Cancel a running job.

        '
      operationId: cancelJob
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: job_id
        description: The job ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Job cancelled successfully
        '401':
          description: Unauthorized - invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
              examples:
                unauthorized:
                  summary: Missing authentication token
                  value:
                    error: unauthorized
                    message: Missing or invalid authentication token
        '403':
          description: Forbidden - user does not have access to this job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403'
              examples:
                forbidden:
                  summary: No access to job
                  value:
                    error: forbidden
                    message: User does not have access to this job
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
              examples:
                not_found:
                  summary: Job does not exist
                  value:
                    error: not_found
                    message: Job not found
        '429':
          $ref: '#/components/responses/Error429Response'
  /projects:
    get:
      tags:
      - API Endpoints
      summary: List projects
      description: 'List projects accessible to the authenticated user within a drive.


        The drive is determined from the access token.


        Results are paginated. Use the `cursor` from the response `pagination.next_cursor`

        to fetch subsequent pages.

        '
      operationId: listProjects
      security:
      - bearerAuth: []
      parameters:
      - in: query
        name: name
        description: Filter projects whose name contains this string (case-insensitive).
        required: false
        schema:
          type: string
      - in: query
        name: folder_path
        description: Filter projects by folder path (e.g. "Clients/Acme/Videos"). Use "/" to separate nested folders. Returns only projects directly inside the deepest folder.
        required: false
        schema:
          type: string
      - in: query
        name: created_by
        description: Filter projects created by this user UUID. Pass `me` to filter by the authenticated user.
        required: false
        schema:
          type: string
      - in: query
        name: created_after
        description: Filter projects created after this ISO 8601 timestamp.
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: created_before
        description: Filter projects created before this ISO 8601 timestamp.
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: updated_after
        description: Filter projects updated after this ISO 8601 timestamp.
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: updated_before
        description: Filter projects updated before this ISO 8601 timestamp.
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: sort
        description: Sort field. Defaults to created_at.
        required: false
        schema:
          type: string
          enum:
          - name
          - created_at
          - updated_at
          - last_viewed_at
          default: created_at
      - in: query
        name: direction
        description: Sort direction. Defaults to desc.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - in: query
        name: cursor
        description: Pagination cursor from a previous response's `pagination.next_cursor`.
        required: false
        schema:
          type: string
      - in: query
        name: limit
        description: Number of projects per page (1-100). Defaults to 20.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      responses:
        '200':
          description: Projects listed successfully
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - pagination
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - name
                      - created_at
                      - updated_at
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: Project ID
                          example: 9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
                        name:
                          type: string
                          description: Project name
                          example: Marketing Video
                        created_at:
                          type: string
                          format: date-time
                          description: When the project was created
                          example: '2025-11-18T10:30:00Z'
                        updated_at:
                          type: string
                          format: date-time
                          description: When the project was last updated
                          example: '2025-11-19T14:00:00Z'
                  pagination:
                    type: object
                    properties:
                      next_cursor:
                        type: string
                        description: Cursor for the next page. Absent if no more results.
        '401':
          description: Unauthorized - invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '429':
          $ref: '#/components/responses/Error429Response'
  /projects/{project_id}:
    get:
      tags:
      - API Endpoints
      summary: Get project details
      description: 'Get a detailed project summary including all media files and compositions.


        Returns the project''s id, name, drive_id, a map of media files (keyed by

        display path) with type and duration, and a list of compositions with id,

        name, duration, and media type.


        Use this to inspect a project''s contents before editing or importing media.

        '
      operationId: getProject
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: project_id
        description: The project UUID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Project details retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - name
                - drive_id
                - created_at
                - updated_at
                - media_files
                - compositions
                properties:
                  id:
                    type: string
                    format: uuid
                    description: Project ID
                  name:
                    type: string
                    description: Project name
                  drive_id:
                    type: string
                    format: uuid
                    description: Drive ID the project belongs to
                  created_at:
                    type: string
                    format: date-time
                    description: When the project was created (ISO 8601)
                  updated_at:
                    type: string
                    format: date-time
                    description: When the project was last updated (ISO 8601)
                  media_files:
                    type: object
                    description: Map of display path to media file info
                    additionalProperties:
                      type: object
                      required:
                      - type
                      properties:
                        type:
                          type: string
                          enum:
                          - audio
                          - video
                          - image
                          - sequence
                          - other
                          description: Media type
                        duration:
                          type: number
                          format: float
                          description: Duration in seconds (absent for images)
                  compositions:
                    type: array
                    description: Compositions in the project
                    items:
                      type: object
                      required:
                      - id
                      - name
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: Composition ID
                        name:
                          type: string
                          description: Composition name
                        duration:
                          type: number
                          format: float
                          description: Duration in seconds
                        media_type:
                          type: string
                          description: Media type of the composition
        '401':
          description: Unauthorized - invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '403':
          description: Forbidden - user does not have access to this project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '429':
          $ref: '#/components/responses/Error429Response'
  /status:
    get:
      tags:
      - API Endpoints
      summary: Check API status
      security:
      - bearerAuth: []
      description: '> **Work in progress** — This endpoint is not yet available and will return an error if called.


        Check API availability and validate authentication token.


        This endpoint can be used to:

        - Verify that your authentication token is valid

        - Check API connectivity without performing any heavy operations


        Returns a success response if the token is valid, or a 401 error if the token is invalid or missing.

        '
      operationId: getStatus
      responses:
        '200':
          description: Token is valid and API is available
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                    - ok
                    description: API status indicator
                    example: ok
                required:
                - status
              examples:
                success:
                  summary: Successful status check
                  value:
                    status: ok
        '401':
          description: Unauthorized - missing or invalid authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
              examples:
                unauthorized:
                  summary: Missing authentication token
                  value:
                    error: unauthorized
                    message: Missing or invalid authentication token
components:
  schemas:
    AgentErrorResult:
      type: object
      title: AgentErrorResult
      description: Result when Agent edit failed
      properties:
        status:
          type: string
          enum:
          - error
          description: Indicates the job failed
          example: error
        error_message:
          type: string
          description: Human-readable error message
          example: AI agent failed to process the request
        error_code:
          type: string
          description: Machine-readable error code
          example: agent_execution_failed
      required:
      - status
      - error_message
    PublishSuccessResult:
      type: object
      description: Result when publish completed successfully
      properties:
        status:
          type: string
          enum:
          - success
          description: Indicates successful completion
        composition_id:
          type: string
          description: Identifier of the published composition
          example: 39677a40-1c43-4c36-8449-46cfbc4de2b5
        share_url:
          type: string
          format: uri
          description: Public URL to view the published content
          example: https://share.descript.com/view/abc123
        download_url:
          type: string
          format: uri
          description: 'Time-limited signed URL to download the original published media file. Present when the job completed successfully and signing succeeded.

            '
          example: https://storage.googleapis.com/bucket/object?X-Goog-Signature=...
        download_url_expires_at:
          type: string
          format: date-time
          description: ISO 8601 time when download_url expires (if download_url is set)
      required:
      - status
      - composition_id
      - share_url
    Error429:
      description: 'Rate limit exceeded response. When this error is returned, the response includes headers

        to help you implement proper retry logic:

        - `Retry-After`: Number of seconds to wait before retrying

        - `X-RateLimit-Remaining`: Requests remaining in current window

        - `X-RateLimit-Consumed`: Requests consumed in current window

        '
      type: object
      properties:
        error:
          type: string
          description: Error code indicating rate limit was exceeded
          example: rate_limit_exceeded
        message:
          type: string
          description: Human-readable error message
          example: Too many requests
      required:
      - error
      - message
    ImportErrorResult:
      type: object
      title: ImportErrorResult
      description: Result when job failed completely
      properties:
        status:
          type: string
          enum:
          - error
          description: Job failed completely
          example: error
        error_message:
          type: string
          description: Human-readable error message
          example: Failed to import media files
        error_code:
          type: string
          description: Machine-readable error code
          example: import_failed
      required:
      - status
      - error_message
    AgentSuccessResult:
      type: object
      title: AgentSuccessResult
      description: Result when Agent edit completed successfully
      properties:
        status:
          type: string
          enum:
          - success
          description: Indicates successful completion
          example: success
        agent_response:
          type: string
          description: AI response describing what was done
          example: I added Studio Sound to all 3 clips in your composition
        project_changed:
          type: boolean
          description: Whether the agent made modifications to the project
          example: true
        media_seconds_used:
          type: integer
          description: Media minutes (in seconds) consumed by this operation
          example: 34
        ai_credits_used:
          type: integer
          description: AI credits consumed by this operation
          example: 5
      required:
      - status
      - agent_response
      - project_changed
    PublishErrorResult:
      type: object
      description: Result when publish failed
      properties:
        status:
          type: string
          enum:
          - error
          description: Indicates the publish job failed
        error_message:
          type: string
          description: Human-readable error message
          example: Export failed during render
      required:
      - status
      - error_message
    PublishJobStatus:
      type: object
      description: Status of a publish job
      properties:
        job_id:
          type: string
          format: uuid
          description: Unique identifier for the job
          example: 6dc3f30a-58c2-4174-96a6-dc18cf3c7776
        job_type:
          type: string
          enum:
          - publish
          description: Type of job
        job_state:
          type: string
          enum:
          - queued
          - running
          - stopped
          - cancelled
          description: 'Current state of the job:

            - queued: Job is waiting to start

            - running: Job is actively processing

            - stopped: Job has finished (check result.status for outcome)

            - cancelled: Job was cancelled by user

            '
          example: stopped
        created_at:
          type: string
          format: date-time
          description: When the job was created
          example: '2025-11-18T10:30:00Z'
        stopped_at:
          type: string
          format: date-time
          description: When the job stopped (only present when job_state is stopped or cancelled)
          example: '2025-11-18T10:35:00Z'
        drive_id:
          type: string
          format: uuid
          description: The drive ID
          example: c9c5c47e-158a-49f7-846b-4f6ee2a229a2
        project_id:
          type: string
          format: uuid
          description: The project ID
          example: 9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
        project_url:
          type: string
          format: uri
          description: URL to access the project in Descript web app
          example: https://web.descript.com/9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
        progress:
          type: object
          description: Progress information for the workflow (only present when job_state is running)
          properties:
            label:
              type: string
              description: Human-readable label describing the current action
              example: Exporting composition...
            percent:
              type: integer
              description: Percentage of the workflow that has been completed
              example: 50
            last_update_at:
              type: string
              format: date-time
              description: When the progress was last updated
              example: '2025-11-18T10:32:00Z'
            composition_id:
              type: string
              description: Composition being published (present when known)
              example: 39677a40-1c43-4c36-8449-46cfbc4de2b5
            share_url:
              type: string
              format: uri
              description: Share URL when available before the job completes
              example: https://share.descript.com/view/abc123
          required:
          - label
        result:
          description: Job result (only present when job_state is stopped)
          oneOf:
          - $ref: '#/components/schemas/PublishSuccessResult'
          - $ref: '#/components/schemas/PublishErrorResult'
          discriminator:
            propertyName: status
            mapping:
              success: '#/components/schemas/PublishSuccessResult'
              error: '#/components/schemas/PublishErrorResult'
      required:
      - job_id
      - job_type
      - job_state
      - created_at
      - drive_id
      - project_id
      - project_url
    ImportJobStatus:
      type: object
      description: Status of an import job
      properties:
        job_id:
          type: string
          format: uuid
          description: Unique identifier for the job
          example: 6dc3f30a-58c2-4174-96a6-dc18cf3c7776
        job_type:
          type: string
          enum:
          - import/project_media
          description: Type of job
        job_state:
          type: string
          enum:
          - queued
          - running
          - stopped
          - cancelled
          description: 'Current state of the job:

            - queued: Job is waiting to start

            - running: Job is actively processing

            - stopped: Job has finished (check result.status for outcome)

            - cancelled: Job was cancelled by user

            '
          example: stopped
        created_at:
          type: string
          format: date-time
          description: When the job was created
          example: '2025-11-18T10:30:00Z'
        stopped_at:
          type: string
          format: date-time
          description: When the job stopped (only present when job_state is stopped or cancelled)
          example: '2025-11-18T10:35:00Z'
        drive_id:
          type: string
          format: uuid
          description: The drive ID
          example: c9c5c47e-158a-49f7-846b-4f6ee2a229a2
        project_id:
          type: string
          format: uuid
          description: The project ID
          example: 9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
        project_url:
          type: string
          format: uri
          description: URL to access the project in Descript web app
          example: https://web.descript.com/9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
        progress:
          type: object
          description: Progress information for the workflow (only present when job_state is running)
          properties:
            label:
              type: string
              description: Human-readable label describing the current action
              example: Importing media...
            percent:
              type: integer
              description: Percentage of the workflow that has been completed
              example: 50
            last_update_at:
              type: string
              format: date-time
              description: When the progress was last updated
              example: '2025-11-18T10:32:00Z'
          required:
          - label
        result:
          description: Job result (only present when job_state is stopped)
          oneOf:
          - $ref: '#/components/schemas/ImportSuccessResult'
          - $ref: '#/components/schemas/ImportErrorResult'
          discriminator:
            propertyName: status
            mapping:
              success: '#/components/schemas/ImportSuccessResult'
              partial: '#/components/schemas/ImportSuccessResult'
              error: '#/components/schemas/ImportErrorResult'
      required:
      - job_id
      - job_type
      - job_state
      - created_at
      - drive_id
      - project_id
      - project_url
    Error404:
      type: object
      properties:
        error:
          type: string
          example: not_found
        message:
          type: string
          example: Resource not found
      required:
      - error
      - message
    AgentJobStatus:
      type: object
      description: Status of an Agent edit job
      properties:
        job_id:
          type: string
          format: uuid
          description: Unique identifier for the job
          example: 6dc3f30a-58c2-4174-96a6-dc18cf3c7776
        job_type:
          type: string
          enum:
          - agent
          description: Type of job
          example: agent
        job_state:
          type: string
          enum:
          - queued
          - running
          - stopped
          - cancelled
          description: 'Current state of the job:

            - queued: Job is waiting to start

            - running: Job is actively processing

            - stopped: Job has finished (check result.status for outcome)

            - cancelled: Job was cancelled by user

            '
          example: stopped
        created_at:
          type: string
          format: date-time
          description: When the job was created
          example: '2025-11-18T10:30:00Z'
        stopped_at:
          type: string
          format: date-time
          description: When the job stopped (only present when job_state is stopped or cancelled)
          example: '2025-11-18T10:35:00Z'
        drive_id:
          type: string
          format: uuid
          description: The drive ID
          example: c9c5c47e-158a-49f7-846b-4f6ee2a229a2
        project_id:
          type: string
          format: uuid
          description: The project ID
          example: 9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
        project_url:
          type: string
          format: uri
          description: URL to access the project in Descript web app
          example: https://web.descript.com/9f36ee32-5a2c-47e7-b1a3-94991d3e3ddb
        progress:
          type: object
          description: Progress information for the workflow (only present when job_state is running)
          properties:
            label:
              type: string
              description: Human-readable label describing the current action
              example: Applying Studio Sound to clip 2...
            percent:
              type: integer
              description: Percentage of the workflow that has been completed
              example: 50
            last_update_at:
              type: string
              format: date-time
              description: When the progress was last updated
              example: '2025-11-18T10:32:00Z'
          required:
          - label
        result:
          description: Job result (only present when job_state is stopped)
          oneOf:
          - $ref: '#/components/schemas/AgentSuccessResult'
          - $ref: '#/components/schemas/AgentErrorResult'
          discriminator:
            propertyName: status
            mapping:
              success: '#/components/schemas/AgentSuccessResult'
              error: '#/components/schemas/AgentErrorResult'
      required:
      - job_id
      - job_type
      - job_state
      - created_at
      - drive_id
      - project_id
      - project_url
    Error401:
      type: object
      properties:
        error:
          type: string
          example: unauthorized
        message:
          type: string
          example: Missing or invalid authentication token
      required:
      - error
      - message
    Error400:
      type: object
      properties:
        error:
          type: string
          example: invalid_input
        message:
          type: string
          example: Invalid request body
      required:
      - error
      - message
    JobStatus:
      oneOf:
      - $ref: '#/components/schemas/ImportJobStatus'
      - $ref: '#/components/schemas/AgentJobStatus'
      - $ref: '#/components/schemas/PublishJobStatus'
      discriminator:
        propertyName: job_type
        mapping:
          import/project_media: '#/components/schemas/ImportJobStatus'
          agent: '#/components/schemas/AgentJobStatus'
          publish: '#/components/schemas/PublishJobStatus'
      description: 'Status of an async job. The response structure varies based on the job type.

        Use the `job_type` field to determine which fields will be present.

        '
    ImportSuccessResult:
      type: object
      title: ImportSuccessResult
      description: Result when media was imported (fully or partially)
      properties:
        status:
          type: string
          enum:
          - success
          - partial
          description: '- success: All media imported successfully

            - partial: Some media imported successfully, some failed

            '
          example: success
        media_status:
          type: object
          description: 'Status of each media item in the import.

            Keys are the media reference IDs from the request.

            '
          additionalProperties:
            type: object
            description: Status information for a single media import
            properties:
              status:
                type: string
                enum:
                - success
                - failed
                description: Status of this individual media import
              duration_seconds:
                type: number
                format: float
                description: Duration of the imported media in seconds (only present for successful imports)
                example: 125.5
              error_message:
                type: string
                description: Error message if the import failed (only present for failed imports)
                example: URL is not accessible or does not support Range requests
            required:
            - status
          example:
            Misc/intro.mp4:
              status: success
              duration_seconds: 10.5
            demo.mp4:
              status: success
              duration_seconds: 125
        media_seconds_used:
          type: integer
          description: Total media seconds consumed by this import
          example: 75
        created_compositions:
          type: array
          description: Compositions created during import
          items:
            type: object
            properties:
              id:
                type: string
                example: 0daabc7a-437a-43eb-b04b-b398d502f393
              name:
                type: string
                example: Rough Cut
      required:
      - status
      - media_status
      - media_seconds_used
    Error403:
      type: object
      properties:
        error:
          type: string
          example: forbidden
        message:
          type: string
          example: User does not have access to this resource
      required:
      - error
      - message
    Error402:
      type: object
      properties:
        error:
          type: string
          example: payment_required
        message:
          type: string
          example: Insufficient media minutes to start the job
      required:
      - error
      - message
  responses:
    Error429Response:
      description: 'Too many requests - rate limit exceeded.

        Use the `Retry-After` header to determine when to retry.

        '
      headers:
        Retry-After:
          description: Number of seconds to wait before retrying the request
          schema:
            type: integer
          example: 30
        X-RateLimit-Remaining:
          description: Number of requests remaining in the current rate limit window
          schema:
            type: integer
          example: 0
        X-RateLimit-Consumed:
          description: Number of requests consumed in the current rate limit window
          schema:
            type: integer
          example: 100
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error429'
          examples:
            rate_limit:
              summary: Rate limit exceeded
              value:
                error: rate_limit_exceeded
                message: Too many requests. Please try again later.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Personal API token created in Descript Settings → API Tokens. See the Authentication section for details.
x-tagGroups:
- name: Early Access Public API
  tags:
  - Getting started
  - Using the CLI
  - API Endpoints
  - Direct file upload
  - Authentication
  - Rate Limiting
- name: Partner APIs
  tags:
  - Edit in Descript
  - Export from Descript
